<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mvvmdemo.latitude.com.textmegic">

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/new_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
    </application>

</manifest>